{% unless settings.social_facebook_link == blank %}
  <a href="{{ settings.social_facebook_link }}" title="Follow us on Facebook" target="_blank">
    Facebook
  </a>
{% endunless %}

{% unless settings.social_twitter_link == blank %}
  <a href="{{ settings.social_twitter_link }}" title="Follow us on Twitter" target="_blank">
    Twitter
  </a>
{% endunless %}

{% unless settings.social_instagram_link == blank %}
  <a href="{{ settings.social_instagram_link }}" title="Follow us on Instagram" target="_blank">
    Instagram
  </a>
{% endunless %}
