// @import 'vendor/...';

@import 'core';
@import 'components';
@import 'transitions'; // Not sure we need this yet..

html.js {
  body {
    &.is-loading {
      opacity: 0;
      transition: opacity 1s cubic-bezier(0.33, 0.01, 0.49, 1.02) 0.25s;
    }

    &.is-loaded {
      opacity: 1;
    }
  }
}

// Fix Shopify preview stuff
html {
  padding-bottom: 0 !important; // Shopify admin bar messes this up
}

/* stylelint-disable-next-line selector-max-id */
#preview-bar-iframe,
.shopify-preview-bar {
  display: none;
}