@media (max-width: $screen-xs) {
  nav {
    float: none;
    display: block;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
}

nav ul {
  margin: 0;
  li {
    display: inline-block;
    position: relative;
    padding: $grid-gutter-width/4;
    margin: 0;
    &.first {
      padding-left: 0;
    }
    &.last {
      padding-right: 0;
    }
  }
}