<footer data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="container">
    Footer
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": []
  }
{% endschema %}