<div class="layout-content-wrapper">
  <div class="container">
    <a href="/collections/all">Collection</a>
    <a href="/pages/custommmmm">Custom Page</a>
    <a href="/pages/garden">Garden Page</a>
    <a href="/cart">Cart</a>
    {{ content_for_index }}
  </div>
</div>